<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>211 Navigator - United Way of Connecticut</title>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "checktab" %>
  <%= javascript_include_tag "checkKey" %>
  <%= stylesheet_link_tag "errors_display" %>
  <%= stylesheet_link_tag "main" %>
  <%= stylesheet_link_tag "main_tab" %>
  <%= stylesheet_link_tag "survey_tab" %>
  <%= javascript_include_tag "warn_user" %>
</head>
<body>
	<div id="header">
		<span class="leftHead">
		<a href="/" style="text-decoration: none;" >
			<%= image_tag("uwc.jpg", :size=> "358x55", :alt=>"United Way of Connecticut") %>
		</a>
		</span>
		<span class="rightHead">
			<a href="http://www.211ct.org/" style="text-decoration: none;" >
                           <%= image_tag("ct211.png", :size=> "184x57", :alt=>"211")  %>
			</a>
			<a href="http://www.ctunitedway.org/" style="text-decoration: none;" >
				<%= image_tag("uwrgbful.jpg", :size=> "132x57", :alt=>"United Way") %>
			</a>
		</span>
	</div>
	<% tabnav(:main) do -%>
		<div id="notice"> 	
			<% if flash[:notice] -%>
				<%= flash[:notice] %>
			<% end %>
		</div>	
		<%= yield %>
	<% end %>
	<div id="footer">
		<span style="font-size: 14px; font-weight: bold;">Any questions? Dial 2-1-1 from anywhere in the State of Connecticut. The call is free.</span>
		<br /><br />
		Best viewed in IE 7+, Firefox 3+ and Safari 4+ and at 1024x768.
		<br /><br />
		&copy; <%= Time.new.year %> <a href="http://www.ctunitedway.org" target="_blank">United Way of Connecticut</a> - <%= link_to "Terms and Conditions", "http://www.cthousingchoice.com/UWCTerms.html", :target=>"blank"%>
	</div>
	<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-1575278-1"); pageTracker._trackPageview(); } catch(err) {}
</script>
</body>
</html>
